/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Tran Nguyen Quoc An
ID: s3959931
Acknowledgement: 
- Idea for best-seller section: https://preview.themeforest.net/item/boighor-books-library-ecommerce-store/full_screen_preview/22173065?clickid=0283UCyqmxyNW01RN1WOQTxsUkFwpW2EOyDIzQ0&iradid=275988&iradtype=ONLINE_TRACKING_LINK&irgwc=1&irmptype=mediapartner&irpid=1223214&mp_value1=&utm_campaign=af_impact_radius_1223214&utm_medium=affiliate&utm_source=impact_radius&fbclid=IwAR0pan2lDuDB1PL6WU6hFVGn1u9AOwT7XEszMS2qcPgXuSv8MlJPYWpEoPU.
- Favicon: https://www.favicon-generator.org/
- Google fonts: https://fonts.google.com/
- Icons: https://fontawesome.com/icons
- Gradient color: https://cssgradient.io/gradient-backgrounds/
- Box-shadow: https://getcssscan.com/css-box-shadow-examples
- Book description source: https://www.goodreads.com/ , https://fourminutebooks.com/
- Image source: https://www.pinterest.com/ , https://tiki.vn/ , https://shopee.vn/, https://www.amazon.com/
*/

